@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);


html,body,header{
    height: 100%;
    background-color: black;
    opacity: 0.9;

}
* {
    box-sizing: border-box;
}

body {
   // background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    color: white;
    font-family: 'Gluten';
    letter-spacing: 2px;
    height: 100vh;
    width: 100vw;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
      
}
 .item {
     padding-bottom: 30px;
     padding-right: .6em;
 }
 .carousel {
    width: 100%;
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 } 

 .button {
     background-color: #e8b5db;
     
     padding: .5rem;
 }

.nav-pills > li {
    color: pink
}

.jumbotron {
    height: 100%;
    background: url('contact.jpeg') no-repeat;
}
  

.bloc {
    height: 100%;
    vertical-align: middle;

}

