<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Home",  welcome_home_path  %></li>
  <li role="presentation"><%= link_to "Services",  welcome_services_path %></li>
  <li role="presentation"><%= link_to "Contact",  welcome_contact_path %></li>
</ul>
